.full-l {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background: #777;
    color: black;
    background-color: #ebebeb;
    width: 940px;
    text-align: center;
}
.footer {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background: #777;
    color: black;
    background-color: #ebebeb;
    width: 940px;
    text-align: center;
    clear: both;
}
}
body {
    background-color: #777;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    width: 960px;
    background: #777;
    color: #777;
    margin-left: 200px;
}

section {
    float: left;
    width: 495px;
    height: 250px;
    background: #ebebeb;
    margin-bottom: 20px;
    text-align: center;

}
aside {
    background: #ebebeb;
    float: left;
    margin-left: 20px;
    width: 440px;
    height: 250px;
    text-align: center;
}

article {
    background: #777;
    width: 95%;
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    margin-top: 115px;
    margin-bottom: 10px;
    text-align: center;

}